body,
html {
  font-family: "Segoe UI", Arial, sans-serif;
  background: #FAF9F6;
  height: 100%;
}

.welcome {
  position: relative;
  height: 100vh;
  background: url("/images/welcome-bg.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.welcome .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.316);
}

.welcome .content {
  position: relative;
  z-index: 1;
  max-width: 650px;
  padding: 20px;
}

.welcome h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.welcome p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  padding: 14px 28px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.2s ease;
}

.btn.primary {
  background: #ffb703;
  color: #333;
}

.btn.primary:hover {
  background: #faa307;
}

.btn.secondary {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.btn.secondary:hover {
  background: rgba(255, 255, 255, 0.1);
}

@media (width <= 500px) {
  .welcome h1 {
    font-size: 2rem;
    margin-bottom: 15px;
  }

  .welcome p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .btn {
    padding: 10px 15px;
    font-size: .7rem;
    font-weight: 400;
  }
}